target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath

### OS ###
.DS_Store
Thumbs.db

### Logs / env ###
*.log
.env

### Terraform ###
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/terraform.tfvars
